In [1]:
import pickle
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file = open('../data/ingr_map.pkl', 'rb')

In [3]:
data = pickle.load(file)

In [4]:
file.close()
print('Showing the pickled data:')

Showing the pickled data:

In [8]:
print(len(data))

11659

In [9]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [11]:
data.head(20)

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308
5,head romaine lettuce,3,head romaine lettuce,20,lettuce,4507,4308
6,curly endive lettuce,3,curly endive lettuce,20,lettuce,4507,4308
7,romaine lettuce hearts,3,romaine lettuce heart,21,lettuce,4507,4308
8,baby leaf lettuce,3,baby leaf lettuce,17,lettuce,4507,4308
9,head of lettuce,3,head of lettuce,15,lettuce,4507,4308
10,head iceberg lettuce,3,head iceberg lettuce,20,lettuce,4507,4308
11,boston lettuce leaf,3,lettuce leaf,12,lettuce,4507,4308
12,heads of lettuce,3,heads of lettuce,16,lettuce,4507,4308
13,green leaf lettuce,3,green leaf lettuce,18,lettuce,4507,4308
14,romaine lettuce leaves,3,romaine lettuce leaf,20,lettuce,4507,4308
15,iceberg lettuce leaves,3,iceberg lettuce leaf,20,lettuce,4507,4308
16,butter lettuce leaf,3,butter lettuce leaf,19,lettuce,4507,4308
17,boston lettuce leaves,3,lettuce leaf,12,lettuce,4507,4308
18,red leaf lettuce,3,red leaf lettuce,16,lettuce,4507,4308
19,butter lettuce leaves,3,butter lettuce leaf,19,lettuce,4507,4308

In [12]:
data.tail(20)

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
11639,absinthe,1,absinthe,8,absinthe,2,17
11640,shortcakes,1,shortcake,9,shortcake,6,6469
11641,gluten,1,gluten,6,gluten,59,3287
11642,bluefish,1,bluefish,8,bluefish,3,658
11643,quatre-epices,1,quatre-epice,12,quatre-epice,2,5784
11644,rambutans,1,rambutan,8,rambutan,2,5830
11645,semolina,1,semolina,8,semolina,87,6400
11646,bresaola,1,bresaola,8,bresaola,2,737
11647,roast,1,roast,5,roast,74,6103
11648,condiments,1,condiment,9,condiment,15,1688
11649,broccolini,1,broccolini,10,broccolini,26,767
11650,risoni,1,risoni,6,risoni,5,6093
11651,rapini,1,rapini,6,rapini,4,5838
11652,chapati,1,chapatus,8,chapatus,5,1161
11653,broccoflower,1,broccoflower,12,broccoflower,4,755
11654,soybeans,1,soybean,7,soybean,31,6702
11655,goose,1,goose,5,goose,8,3318
11656,ajwain,1,ajwain,6,ajwain,13,47
11657,brinjals,1,brinjal,7,brinjal,2,750
11658,khoya,1,khoya,5,khoya,6,4061

In [ ]:
recipe = pd.read_csv()